.search-bar-container {
  position: relative;
  width: 80%;
  max-width: 500px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex-grow: 1;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.clear-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0 8px;
  color: black;
}

.search {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  color: black;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover, .suggestion-item.selected {
  background: #f0f0f0;
}

@media screen and (min-width: 320px) and (max-width: 801px) {
  .search-bar {
    position: fixed;
    top: 26vw;
    left: 7vw;
  }

  .suggestions {
    top: calc(26vw + 100%);
    right: 0vw;
    width: 100%; 
  }
}
